* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: hsl(0 100% 100% / 0.2);
}
body {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
